<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D.I.C.E. - Contate-nos!</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="Iconsmind-Outline-Dice-2.ico" type="image/x-icon">
</head>
<body>
    <header>
        <h1 class="titulo">Contate-nos!</h1>
        <a href="index.html"><button class="botaoheader">Início</button></a>
    </header>

    <main>
        
        <div class="seções">
            <div class="seção"> 
                <div class="caixah2">
                <h2 class="nome">Brayam Fogaça Bartz</h2>
                </div>
                <p class="descrição">E-MAIL: brayamfbartz@gmail.com</p>
            
        </div>
    </main>

    <footer>
        <p>Site criado por <strong>Griffin.</strong></p>
    </footer>
</body>
</html>